/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Logo Google Font */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
